<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctors List</title>
  </head>
  <body>
    <h1>List of Doctors</h1>

    {% if doctors %}
    <ul>
      {% for doctor in doctors %}
      <li>
        {{ doctor.nom }} {{ doctor.prenom }} {{ doctor.email }} - License
        Number: {{ doctor.numero_licence }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No doctors found.</p>
    {% endif %}
  </body>
</html>
